*{
  font-family: 'Noto Sans TC';
}

.form-box{
  width: 420px;
  margin: 35px auto;
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  height: 350px;
}

.button-box{
  left: 20px;
  width: 220px;
  margin: 10px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn{
  padding: 10px 20px;
  cursor: pointer;
  background: transparent;
  border:0;
  outline: none;
  position: relative;

}

button:focus {
    outline: none;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
  outline: none;
  border: none;
}

.input-group{
  position: relative;
  top: 10px;
  width: 320px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

.check-box{
  margin: 30px 10px 30px 0;
}

#mlogin h3{
  color: #777;
  top: 25px;
  font-size: 17px;
  bottom: 68px;
  position: relative;
}

#clogin h3{
  color: #777;
  top: 25px;
  font-size: 17px;
  bottom: 68px;
  position: relative;
}

#mlogin{
  left: 75px;
}

#clogin{
  left: 475px;
  top: 75px;
  position: absolute;
}

.signup-link{
  margin-top: 10px;
  width: 320px;
  text-align: center;
}
